@charset "UTF-8";
/* CSS Document */

footer {
	font-size:9px;
	text-align:center;
}
body {
	width:500px;
	margin: 1.5em auto;
	padding: 3em;
	font-family:Tahoma, Geneva, sans-serif;
	color:#036;
	border:thick solid #006;
	background-color:#CCC;
}
#sidelink li {
	float:left;
	list-style:circle;
	border-right-style:dotted #036;
	
}

#top {
	text-align:center;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
}

#nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	
}

#nav li {
	display:inline;
}

li {
	list-style:none;
}

#index {
	text-align:left;
	background:#CCC;
}


